@import '/src/assets/design/variables.scss';

@mixin direction($property) {
  // inset: 0;
  background-color: $color-wb-400;
  color: $color-wb-100;
  text-align: center;

  #{$property}: -100%;
}

.a11y-hidden {
  position: absolute;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
}

.title {
  position: relative;
  display: inline-block;

  & > .tooltips,
  & > .tooltips {
    @extend .a11y-hidden;
  }

  &:hover > .tooltips,
  &:focus > .tooltips {
    position: absolute;
    padding: inherit;
    margin: inherit;
    width: fit-content;
    height: fit-content;
    clip: inherit;
    clip-path: none;

    &.top {
      @include direction(top);
    }

    &.right {
      @include direction(right);
    }

    &.left {
      @include direction(left);
    }

    &.bottom {
      @include direction(bottom);
    }
  }
}
